
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#272626; border-top-left-radius: 125px; }
.pt2 { padding-top:2px ; margin-bottom:2px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:3px;}
.mb10 { padding-bottom:10px ; font-style: oblique;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 5px 0px ;font-style: oblique; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px; font-style: oblique;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;font-style: oblique;}

.bottom_border { border-bottom:1px solid #323f45;}
.footer_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
.footer_bottom_ul_amrc li
 {
      display:inline;
 }
.footer_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:inline-block; list-style-type:none; padding-top: 2px; font-style: oblique;}
.social_footer_ul li { padding-left:25px; padding-top:2px; float:left; font-style: oblique; }
.social_footer_ul li a { color:#cccccc;font-style: oblique;}
.social_footer_ul li i {  width: 16px; height: 1px; font-style: oblique;}

.text{
  position: relative; 
  top: -125px;
}

button {
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(122, 122, 122);
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

